@import "tailwindcss";

.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    /* background-color: #ef4444; */
}

.sample{
    display: flex;
    gap: 2em;
}

.sample *{
    background: #000;
    border: 1px solid white;
    color: white;
}